body {
  background: url('images/bg-1-d.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-433c89 {
  background-color: #433c89;
}
